@import "tailwindcss";

:root {
    --background: var(--color-palette-black);
    --foreground: #171717;
}

@theme inline {
    /* main */
    --color-palette-black: #0a0a0a;
    --color-palette-green: #00ff84;
    --color-palette-yellow: #ffd800;
    --color-palette-white: #e6e6e6;
    --color-palette-red: #ff0033;

    /* support */
    --color-palette-dark-gray: #1a1a1a;
    --color-palette-dark-green: #00994c;
    --color-palette-light-yellow: #ffe766;
    --color-palette-light-red: #ff4c4c;

    /* glow */
    --glow-green: 0px 0px 15px #00ff84, 0px 0px 30px #00ff84;
    --glow-yellow: 0px 0px 15px #ffd800, 0px 0px 30px #ffd800;
    --glow-green-yellow: 0px 0px 10px #00ff84, 0px 0px 20px #ffd800;
}

html {
    scroll-behavior: smooth !important;
    scroll-snap-type: y mandatory;
}

/* body {
    background: var(--color-palette-black);
} */

@utility group-hover-white-svg-shadow {
    filter: drop-shadow(0px 0px 7px var(--color-palette-white))
        drop-shadow(0px 0px 15px var(--color-palette-white));
}

@utility group-hover-white-text-shadow {
    text-shadow:
        0px 0px 7px var(--color-palette-white),
        0px 0px 15px var(--color-palette-white);
}

body {
    background-color: var(--background);
    background-image: repeating-linear-gradient(
        45deg,
        #00ff8410 1px,
        #ffd90010 2px,
        transparent 1px,
        transparent 4px
    );
    background-size: 40px 20px;
    animation: subtleMove 30s linear infinite;
}

@keyframes subtleMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200px 200px; /* sol çapraza doğru kayma */
    }
}
